* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

.mq-editable-field.mq-math-mode {
    width: 100%;
}

.mq-editable-field.mq-math-mode {
    padding: 8px;
    border-radius: 6px;
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);
}

.mq-editable-field.mq-math-mode.mq-focused {
    border-radius: 6px;
    border-color: #63b3ed;
    box-shadow: 0 0 0 1px #63b3ed;
}

.mq-editable-field.mq-focused .mq-cursor {
    background-color: white;
    border-color: white;
}
